<div class="row p-0 min-vh-90 align-items-center mt-5 mt-md-0">
  <div class="col-md-6 col-12">
    <p class="bubble mb-5">hello world!</p>
    <h1>Lai Boon Shien</h1>
    <ngx-typed-js [strings]="['Software Developer', 'Coder', 'Tech Otaku']" [typeSpeed]="70" [backSpeed]="45" [backDelay]="4000" [loop]="true">
       <h4 class="d-inline-block text-uppercase" >I am a <span class="typing typing-background"></span></h4>
    </ngx-typed-js>
    <p class="mt-4 content">
      I'm a software developer based in Kuala Lumpur, deeply passionate about technology. I graduated from the
      Universiti Tun Hussein Onn Malaysia with a Bachelor's degree in Computer Science(Information Security).
      I'm currently working as a Software Engineer at a startup fintech company in Kuala Lumpur. I always try to learn 
      new things and improve my skills.
    </p>
  </div>
  <div class="col-md-6 col-12">
    <img src="assets/myqpic.png" class="img-fluid" />
  </div>
</div>