<div class="p-0">
  <app-section-header
    [title]="'recent work'"
    [teaser]="
      'I always try to learn new things and improve my skills. Here are some of my personal projects.'
    "
  ></app-section-header>
  <div class="row mt-5">
    <div class="col-12 mt-4" *ngIf="data">
      <!-- <h3 class="text-uppercase">My personal Github projects</h3> -->
      <div class="content-align px-3">
        <div class="d-inline-block project-button" [ngClass]="[spacing, isPersonalSelected ? 'active-tag' : '']" (click)="selectPersonal()">
          personal
        </div>
        <div class="d-inline-block project-button" [ngClass]="[spacing, isPersonalSelected ? '' : 'active-tag']" (click)="selectCompany()">
          company
        </div>
      </div>
      <app-project-card class="h-100" [data]="data" *ngIf="isPersonalSelected"></app-project-card>
      <app-company-card [data]="comData" *ngIf="!isPersonalSelected"></app-company-card>
    </div>
  </div>
</div>
